/*- Custom style -*/

// -- Put custom style under this point -- //


.tagline {
	font-weight: 100;
	font-size: 12pt;
}

.page-navigation {
	text-align: center;
	max-width: 730px;
    padding: 0 1.5rem;
	margin: 0 auto;

	li {
		float: left;
		margin-right: 15px;
		list-style: none;
	}

	a {
		font-weight: 100;
		font-size: 15px;
	}
}
.page-navigation:after {
	display: block;
    content: '';
    // width: 15rem;
    height: 1px;
    margin: 23px auto;
    background-color: #d4d4d4;
}


/////////////////////////////////////////////////////////

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */