
a.link {
    padding: 0 4pt;
    display: inline-block;
    line-height: 1.5em !important;
    color: white;
}

a.green {
    border-bottom: 3px solid #1B7B01;
    background: #1B7B01;
}

a.blue {
    border-bottom: 3px solid #00568B;
    background: #00568B;
}

a.orange {
    border-bottom: 3px solid #C5610F;
    background: #C5610F;
}

a.red {
    border-bottom: 3px solid #A80000;
    background: #A80000;
}

.flex {
    display: flex;
}

img.full {
    width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }
